.fa.fa-chevron-circle-right {
    right: 0;
    padding: 50px;
    margin:-50px 0 0 -50px;
}
.fa.fa-chevron-circle-left {
    left: 0;
    padding: 50px;
    margin:-50px -50px 0 0;
}
.fa.fa-chevron-circle-right, .fa.fa-chevron-circle-left {
    margin-bottom: 1px;
    position: absolute;
    top: -30px;
    color:#1BBD36;;
}

.carousel-control{
    width:5%;
}

.carousel-control.left {
    background-image: none;
}
.carousel-control.right{
    background-image: none;
}

