/*--slider--*/
#main-slider {
    margin-top:40px;
}

#main-slider {
    position: relative;
}

.no-margin {
    margin: 0;
    padding: 0;
}

.carousel .item{
    background: #989898;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%),
    radial-gradient(at 50% -100%, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 270%),
    radial-gradient(at 50% 2%, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,multiply,multiply;
    text-align: center;
    height: 730px !important;
}

.carousel-inner h3 {
    background-color: rgba(20, 49, 68, 0.6);
    padding: 20px;
    animation: anime-H3 1.3s ease-out;
    color: #fff;
}
.carousel-inner p {
    font-size: 18px;
    background-color: #333;
    padding: 20px;
    animation: anime-P 1.6s ease-out;
    color: #fff;
}

@keyframes anime-H3 {
 from {
    opacity: 0;
    transform: translateX(-2000px);
 }
 to {
    opacity: 1;
    transform: translateX(0);
 }
}
@keyframes anime-P {
 from {
    opacity: 0;
    transform: translateX(2000px);
 }
 to {
    opacity: 1;
    transform: translateX(0);
 }
}
/*--slider--*/
