/*
    Theme Name: Company
    Theme URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
*/

/* ==== Google font ==== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url('font-awesome.css');
/* ==== overwrite bootstrap standard ==== */
@import url('animate.css');



body {
    font-family:'Open Sans', Arial, sans-serif;
    font-size:14px;
    font-weight:300;
    line-height:1.6em;
    color:#fff;
    background-color:#fff;
    overflow-x:hidden;
}

hi,h2,h3,h4,h5,h6 {
    color:#333;
    line-height:1.1em;
}

p {
    color:#333;
    font-size:13px;
}

a {
    text-decoration:none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
    color:#333;
}

a:hover {
    text-decoration: none;
    color:#eee;
    }


.btn-primary {
  padding: 8px 20px;
  background: #1BBD36;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}

.text-center h2 {
    margin-bottom:30px;
}

.text-center p {
    margin-bottom:50px;
    color:#333;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #fff;
  text-transform:uppercase;
  font-size:18px;
  border-radius:30px;
  margin-left:-10px;
}


a.btn-primary:hover {
	background-color:#ddd;
	color:#1BBD36;
}

/*Menu */

.contact {
    color: #333;
    float: right;
}

.contact li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px 0 0;
    font-weight: 500;
}


ul li a:hover{
    color: #1BBD36;
}
.navigation  {
    background-color:#fff;
    padding:0;
}

.navbar-brand h1 {
    margin-top:9px;
    padding-top:5px;
    float: left;
    font-size: 25px;
    color:#333;
    text-transform:uppercase;
    font-weight:900;
}

.navbar-brand h1 span {
    color: #1BBD36;
}

.menu {
    font-size:12px;
    float:right;
    text-transform:uppercase;
    font-weight:700;
}

.menu ul.nav-tabs li {
    color:#000;
}

.nav-tabs {
    border-bottom: 0;
}
.nav-tabs > li {
    float: left;
    margin-bottom: 0;
}
.nav-tabs > li > a {
    border-radius:0;
    color:#333;
    padding:30px;
}

.nav-tabs > li > a:hover {
    color: #1BBD36;
    border-color: #fff #fff #fff;
    border-radius:0;
    background-color:#fff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.nav-tabs > li > a.active {
    color: #1BBD36;
    border-radius:0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}



@media (max-width: 768px) {
.navbar-brand {
    padding-top: 6px;
}

.navbar-brand h1 {
    margin-top: 0;
}

.nav-tabs > li {
    float: none;
    display: block;
}

.menu {
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    height: auto;
}

.nav-tabs > li > a {
    padding:15px 15px;
    border-bottom: 1px solid #f3f3f3;
}

.nav-tabs > li > a:hover {
    border-color: #f3f3f3;
}

.navbar-toggle {
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}
}
/*Menu */



/*--services--*/
.services {
    text-align: center;
    padding: 50px 0 80px 0;
}

.services h2{
    font-size:20px;
    font-weight:600;
    color:#333;
    padding: 0 0 50px 0;

}

span.glyphicon.glyphicon-book,span.glyphicon.glyphicon-globe,span.glyphicon.glyphicon-cog,span.glyphicon.glyphicon-cloud,span.glyphicon.glyphicon-hdd,span.glyphicon.glyphicon-phone {
    font-size: 3.5em;
    color: #333;
}

.services-left {
    padding: 31px 0px 20px 0;
    border: 1px solid #d9d9d9;
    background: #1BBD36;
    //height: 220px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.services-left h4 {
    color:#fff;
    font-size: 18px;
    font-weight:500;
    margin: 15px 0;
}

/*
.services-left p {
    color: #fff;
    font-weight:500;
    font-size: 13px;
}
*/

.services-left:hover{
    background: #fff;
}
.services-left:hover h4{
    color:#1BBD36;
}

/*
.services-left:hover p{
    color:#1BBD36;
}
*/
/*--services--*/

/*Lates News*/
.lates {
    padding: 50px 0 50px 0;
    background-image: radial-gradient(27% 185%, #F9F6F1 0%, #D7D0C5 100%);
}

.lates h2 {
    font-size:20px;
    font-weight:600;
    color:#333;
}

.lates img {
    margin-top:30px;
    border-radius:5px;
}


.next{

    margin-bottom: 50px;

}


.dots{
    color: #333;
    font-size: 13px;
}

.nav-pager {
    text-align: center;

}

/*Lates News*/

/*partner*/
#partner {
    cdjb d tt rjvgbackground-color: #646770;
    background-image: 
    linear-gradient(0deg, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 100%),
    radial-gradient(at 50% 87%, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: multiply,normal;
    background-size: cover;
}

#partner {
    color: #fff;
    text-align: center;
    padding:100px;
}

#partner h2 {
    color: #fff;
    font-size:30px;
    font-weight:600;
}


.partners ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.partners ul li{
    display: inline-block;
    float: left;
    width: 20%;
}

.partners ul li a img {
    margin-top:50px;
}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
  color:#1BBD36;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a,
ul.pagination > li:hover > a {
  background-color: #1BBD36 !important;
  border-color: #1BBD36 !important;
  color: #fff;
}

/*partner*/

/*contact*/
#conatcat-info{
    margin: 30px 0;
}

.contact-info i{
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    background: #000;
    text-align: center;
    border-radius: 6px;
}

.contact-info h2{
    margin-top: 0;
    color: #000;
}

.contact-info{
    color:#000;
}


.media i {
    color: #1BBD36;
    font-size: 50px;
}

.connect {

    float: right;
    margin-bottom: 50px;

}

h4.modal-title {
    font-size: 28px;
    color: #333;
    text-align: center;
}
/*contact*/

/*footer*/
.footer {
    background:#1BBD36;
    padding:15px 22px;
}

ul.social-network {
    list-style:none;
    margin-top:20px;
    padding:10px;
    transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

ul.social-network li {
    display:inline;
    margin: 0 18px;
    font-size:25px;
}

ul.social-network li a {
    color:#d0d0d0;
}

.social-network li:hover .fa-vk {
    color: #eb8984;
}

.social-network li:hover .fa-twitter {
    color: #eb8984;
}
.social-network li:hover .fa-facebook {
  color: #eb8984;
}
.social-network li:hover .fa-google-plus {
    color: #eb8984;
}

.copyright {
    margin-top:30px;
    text-align: right;
    font-weight: 500;
}
/*footer*/




/*breadcrumb*/
#breadcrumb {
    background-color: #1BBD36;
    margin-top: 20px;
}

.breadcrumb {
  list-style: none;
  background-color: #1BBD36;
  border-radius: 0px;
  padding:3px 10px;
}

.breadcrumb li {
   text-transform:uppercase;
   margin-top:125px;
   font-weight:600;
}
/*breadcrumb*/

/*about us*/
.aboutus {
    margin: 50px;
}


.aboutus h3 {
    margin-bottom:30px;
    font-weight:800;
}


.pills {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
    padding: 0 0 20px 0;
}
.pills li {
    padding: 10px 0;
    position: relative;
    left: 1.5em;
    margin-bottom: 0.75em;
    padding-left: 1em;
    background: #333;
}
.pills li:before {
    padding: 10px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1.5em;
    width: 1.875em;
    text-align: center;
    color: white;
    font-weight: bold;
    background: #1BBD36;
    border-bottom-left-radius: 70em;
    border-top-left-radius: 70em;
    counter-increment: li;
    content: counter(li);
}

.our-team {
    padding: 50px;
    background: #ddd;
}

.our-team h3 {
    margin-bottom: 30px;
    font-weight: 800;
}

.our-team h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.our-team img{
    border-radius: 6px;
    margin-top: 30px;
}
/*about us*/



/*price*/

.description{
margin-top: 50px;
}

.price{
    margin-bottom:50px;
    font-weight:600;
}


.panel-body h3 {
    font-family: Georgia;
    color: #1BBD36;
    font-size: 28px;
    font-weight:600;
}

.panel-body ul {

    list-style: none;
    display: inline;
    color: #1BBD36;
    font-weight: 500;;
}

.blockquote {
    font-size: 13px;
    background: #333;
    border-left: 5px solid #1BBD36;
    padding: 16px 29px 6px 29px;
    margin: 50px 0 50px 0;
    text-align:justify;
}

.blockquote p{
    color: #fff;
    font-style: italic;
    font-weight: 500;
}

/*price*/


/*portfolio*/
#portfolio .center p {
	margin-top:50px;
	margin-bottom:50px;
	font-size:18px;
}

.portfolio-items,
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#fff;
  background: #1BBD36;
  border: 1px solid #1BBD36;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
	margin: 0;
	padding:0;
}

.overlay {
	margin-bottom:20px;
}

.overlay a:hover {
	color: #1BBD36;
}
/*portfolio*/


/*contact*/
#contact-page{
  padding-top: 0;
  background:#fff;
  margin-bottom:50px;
}

#contact-page .contact-form
.form-group label {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 300;
}

.form-group .form-control {
  padding: 7px 12px;
  //border-color:#f2f2f2;
  //box-shadow: none;
  //background: #333;;
}


.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align:center;
}
.center p{
   text-align:center;
}

.btn-lg:hover {
	color:#1BBD36;
	background:#ddd;
}

a.scrollup{
    color:#fff;
	height:40px;
	width:40px;
	font-size:12px;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	position:fixed;
	bottom:30px;
	right:40px;
	opacity:0,5;
	border-radius:50%;
	z-index:999;
}
a.scrollup:hover{
	opacity:1;
	background-color:#ddd;
	color:#1BBD36;
}
/*contact*/










/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}




/* --- blog
#blog {
	margin-top:50px;
}

a.btn-primary:hover {
	background-color:#ddd;
	color:#1BBD36;
}

.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
  color:#333;
}

.widget .entry-meta span a:hover {
	color:#1BBD36;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:none;
  margin-bottom:20px;
}

.blog_category li a {
  background:#f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover{
  background:#1BBD36;
  color: #fff;
}

 .badge:before {
  border-color: transparent transparent transparent #1BBD36;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #1BBD36;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

ul.blog_archieve li a:hover{
	color:#1BBD36;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li > div {
  margin-left: 70px;
}

ul.faq li > div h3 {
  margin-top: 0;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore{
  margin-top: 0;
}

.blog .blog-item .blog-content h4 {
	margin-bottom: 40px;
	font-weight: 600
 }

.blog .blog-item .blog-content p {
	font-size: 13px;
}

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta > span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

#publish_date {
  background: #1BBD36;
  border-bottom: 5px solid #4e4e4e;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.blog .blog-item .entry-meta > span {
  color: #ccc;
}

.blog .blog-item .entry-meta > span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
  color:#1BBD36;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a,
ul.pagination > li:hover > a {
  background-color: #1BBD36 !important;
  border-color: #1BBD36 !important;
  color: #fff;
}

.search_box {
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}

ul.tag-cloud,
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover{
  background:#1BBD36;
  color: #fff;
}

.sidebar-gallery li{
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}

*/


